appdirs==1.4.3
asn1crypto==0.22.0
attrs==17.1.0
Automat==0.6.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==1.8.1
docutils==0.13.1
enum34==1.1.6
idna==2.5
incremental==17.5.0
ipaddress==1.0.18
Kivy==1.10.0
Kivy-Garden==0.1.4
packaging==16.8
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==17.0.0
pyparsing==2.2.0
requests==2.18.2
service-identity==17.0.0
six==1.10.0
Twisted==22.10.0
urllib3==1.22
zope.interface==4.4.1
Pmw
wxPython
